<!-- <div class="sidenav">
  <a href="#about">Categories</a>
  <ul>
    <li>
      <div class="" (click)="filterFruits('fruit')">Fruits</div>
    </li>
    <li>
      <div class="" (click)="filterFruits('Bakery')">Bakery</div>
    </li>
    <li>
      <div class="" (click)="filterFruits('veg')">Vegetables</div>
    </li>
  </ul>
  <a href="#clients">Filter</a>
  <ul>
    <li>Brand</li>
    <li>Seller</li>
  </ul>
  <a href="#contact">Sort by</a>
  <ul>
    <li>Popularity</li>
    <li>Price: High to Low</li>
    <li>Price: Low to High</li>
  </ul>
</div> -->