
<div class="login-page" id="logg">  
  <h1 class="form" style="color:blue; border:5px solid red">X-Mart</h1>
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form"   #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">
      <input type="text" placeholder="username" name="username" ngModel/>   
      <input type ="password" placeholder="password" name="password" ngModel/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Testt</a></p>
    </form>
  </div>
</div>
